* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#boolzap
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10vh 0;
}

/* contenuto-app di tutto */

.contenuto-app
{
    display: flex;
    justify-content: center;
    width: calc(100% - 20%);
    height: 80vh;
}

/* barra di SX chat utenti */

.cerca-utente
{
    padding: 16px;
}

.cerca-utente i
{
    color: lightgray;
}

.cerca-utente input
{
    border: none;
}

.contatti-utenti
{
    width: 30%;
    border: 1px solid green;
    overflow: hidden;
}

/* componente : casella chat utente */

.utente
{
    display: flex;
    align-items: center;
    padding:8px;
    border: 1px solid lightgray;
}

.utente .icona-utente
{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid #010101;
    border-radius: 50px;
    margin-right: 8px;
}

p.messaggi-info
{
    font-size: 12px;
    color: grey;
}

/* FINE componente : casella chat utente */

/* FINE barra di SX chat utenti */

/* barra di DX chat utenti */

.utente-chat-corrente
{
    min-height: 50px;
    border: 1px solid lightgray;
}

.componente-chat-corrente
{
    display: flex;
    align-items: center;
    padding:8px;
}

.componente-chat-corrente .icona-utente
    {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border: 1px solid #010101;
        border-radius: 50px;
        margin-right: 8px;
    }

.contenitore-chat
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 70%;
}

.chat
{
    height: 70vh;
    padding: 24px;
    background-color:rgb(233, 233, 233);
    overflow: hidden;
}

/* componente : fumetto messaggi */

.casella-chat
{
    display: flex;
    margin-bottom: 16px;
}

.casella-chat p
{
    padding: 8px;
}

.fumetto
{
    border-radius: 15px;
}

.chat-vuota
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.chat-vuota i 
{   
    font-size: 60px;
}

.sent
{
    justify-content: right;
    text-align: right;
}

.sent > div {background-color: lightgreen;}

.received
{
    justify-content: left;
    text-align: left;
}

.received > div {background-color: lightyellow;}

/* FINE componente : fumetto messaggi */

.barra-invio
{
    width: 100%;
    padding: 16px;
    border: 1px solid lightgray;
}

/* FINE barra di DX chat utenti */
