<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzap</title>
</head>
<body>
    
<div id="boolzap">
    <div class="contenuto-app">
        <!-- layout sinistra-->
        <div class="contatti-utenti">
            <div class="utente">
                <div class="icona-utente">
                    <i class="fas fa-user"></i>
                </div>
                <div class="nome-utente">
                    <p>My Names</p>
                </div>
            </div>
            <div class="cerca-utente">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="search" v-model="nomeValore" @keyup="ricercaContatti">
            </div>
            <div v-for="(utente, indice) in contacts" @click="apriContatto(indice)" :class="utente.visible ? 'show' : 'hide' ">
                <div class="utente" :class="{utenteSelezionato : (clickUtente == indice)}">
                    <div class="icona-utente">
                        <i :class="utente.avatar"></i>
                    </div>
                    <div class="nome-utente">
                        <p>{{utente.name}}</p>
                        <p class="messaggi-info">messaggio...</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- fine layout sinistra-->
        <div class="contenitore-chat">
            <div class="utente-chat-corrente">
                <div v-if="clickUtente !=  null" class="componente-chat-corrente">
                    <div class="icona-utente">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="nome-utente">
                        <p>{{contacts[clickUtente].name}}</p>
                    </div>
                </div>
            </div>
            <div class="chat">
                <div v-if="clickUtente !=  null">
                    <div class="casella-chat" :class="messaggio.status" v-for="messaggio in contacts[clickUtente].messages">
                        <div class="fumetto">
                            <p>{{messaggio.text}}</p>
                            <p class="messaggi-info">{{messaggio.date}}</p>
                        </div>    
                    </div> 
                </div>
                <div v-else class="chat-vuota"><i class="fab fa-whatsapp"></i></div>    
            </div>
            <div class="barra-invio">
                <input type="text" v-model="messaggio" placeholder="Scrivi un messaggio..." @keyup.enter="aggiungiMessaggio(clickUtente)">
                <button @click="aggiungiMessaggio(clickUtente)">Invia</button>
            </div>
        </div> 
    </div>       
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="js/func.js"></script>
</body>
</html>